<html>
    <head>
        <title>Helena's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Helena's blog</a></h1>
        </div>

        <div>
            <p>published: 06.05.2017, 12:00</p>
            <h2><a href="">My first post</a></h2>
            <p>This paragraph is a test paragraph for my blog for the Django Girls tutorial</p>
        </div>

        <div>
            <p>published: 06.05.2017, 12:00</p>
            <h2><a href="">My second post</a></h2>
            <p>This paragraph is a test paragraph for my blog for the Django Girls tutorial</p>
        </div>
    </body>
</html>
